:root{
--bs-blue:#30BCED;
--bs-red: #F93943;
--bs-white: #FFFAFF;
--bs-orange: #FFA400;
--bs-green: #7BC950;
--bs-corn-yellow: #dd935e;
--bs-light-yellow: #dd935e;
--bs-dust-blue: #8e9183;
--bs-light-purple: #a56170;
--bs-yellow: #F0E40E;

}
.countdown{
    background-color:var(--bs-blue);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
}
#clock{
    font-size: 32px
}
#info{
    font-size:16px
}
body{
    background-color: var(--bs-green);
    text-align: center;
}
img{
    text-align:left;
    width: 80%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown-heading{
    background-color:var(--bs-blue);
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}
#clock1{
    font-size: 32px
}
.top{
    display: flex;
    
}
.heading{
    width: 40%;
    

}
.rings{
    display: flex;
}
.ring{
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
.red{
    border: solid red;
}
.blue{
    border: solid blue;
    margin-left:-50px;
}
.list{
    height: 600px;
    overflow: auto;
    
}
.title{
    width: 20%;
    justify-content: center;
    
    height: 100%;
}
.body{
    justify-content: center;
    
}
.container-up{
    display: flex;
    justify-content: center;
}
button{
    display: flex;
    justify-content: center;
    background-color: var(--bs-white);
}
p:hover{
    background-color: var(--bs-blue);
    font-weight: bold;
}
.button{
    display: flex;
    justify-content: center;
    
}
button:hover{
    background-color: var(--bs-yellow);
}
.form{
    display: flex;
    justify-content: center;
}
option{
    background-color: var(--bs-blue);
    border-radius: 10px;
}
select{
    background-color: var(--bs-blue);
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}
select:hover{
    background-color: var(--bs-yellow);
}
