<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/app.css">
    <title>Olympic Data</title>
</head>
<body>
    <div class="container">
        <div class="center">
            <h1>LA 2028 Countdown</h1>
    </div>
        <div class="center">
            
        <div class="countdown">
            <script src="/static/countdown.js"></script>
           <span id="clock"></span>
            <span id="info"></span>

        </div>
    </div>

        </div>
</body>
</html>