
<html>
{% include 'header.html' %}


<form method="POST">
    <select name="Cities">
        {%for game in games:%}
        <option value="{{ game }}">{{ game.title().replace('-', ' ') }}</option>

        {% endfor %}
    </select>
    <button type="submit">Submit</button>

</form>
{% if city:%}
    <img src="../static/images/{{city.title()}}.png">
    {% endif %}
<iframe title="medals" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=fe37f75c-7a2c-49f1-b466-5451f49c930e&autoAuth=true&ctid=45f26ee5-f134-439e-bc93-e6c7e33d61c2" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>